/* Global Styles */

body {
    background-color: #e666c3;
}

img {
display: block;
margin: 0 auto;
width: 100%;
}

#container {
    background-color: #db93d5;
}

/* Mobile Styles */

@media (min-width: 320px) {
    nav {
        background-color: #d05d64;
        padding: 5px;
        margin-top: 10px;
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav li {
        display: block;
    }

    nav li a {
        display: block;
        height: 40px;
        line-height: 40px;
        background-color: #e666c3;
        color: beige;
        font-size: 24px;
        text-decoration: none;
        margin-top: 5px;
    }

    nav li a:hover {
        background-color: #7f2b11;
    }

    main {
        padding: 25px;
    }

    h1, h2, h3 {
        text-align: center;
        color: #7f2b11;
        text-shadow: 1px 1px 1px black;
    }

    footer {
        text-align: center;
        padding: 40px;
        color: #7f2b11;
        text-shadow: 1px 1px 1px black;
    }

}

/* Tablet Styles */

@media (min-width: 768px) {
    nav li {
       display: inline-block; 
    }

    nav li a {
        width: 150px;
        height: 50px;
        line-height: 50px;
        margin: 5px;
    }

    .movie_post {
        width: 50%;
        border-radius: 18px;
        box-shadow: 3px 3px 3px black;
    }

}

/* Desktop Styles */

@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
        border: 4px solid black;
        border-radius: 20px;
    }

    nav {
        padding: 2px;
        margin: o;
    }

    nav li a {
        background-color: black;
    }

    hr {
        display: none;
    }

    p {
        text-align: center;
    }

    ul {
        text-align: center;
    }

    .multi_col {
        display: flex;
    }

    .col {
        margin: 20px;
        padding: 20px;
        border: 20px black;
    }
}