body {
    background-color: #e565bc;
}

#container {
    background-color: beige;
    width: 1200px;
    margin: 20px auto;
    border: 10px double black;
    padding: 20px;
}

#banner {
    width: 100%;
}

#col1 {
    width: 50%;
    border: 2px black;
    margin: 20px;
    padding: 20px;
}

#col2 {
    width: 50%;
    border: 2px black;
}

.heading_style {
    text-shadow: 2px 1px 2px rgb(165, 143, 115);
}

.movie_post {
    width: 40%;
}

img {
    display: block;
    margin: 0 auto;
    width: 1200px;
}

nav {
    text-align: center;
    margin: 20px 0;
    background-color: #e42d32;
    border-radius: 10px;
}

nav a {
    font-size: 24px;
    color: black;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
}

nav li {
    display: inline-block;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li a {
display: block;
color: beige;
font-size: 24px;
font-weight: bold;
text-decoration: none;
margin: 0 25px;
width: 125px;
height: 40px;
line-height: 40px;
}

nav a:hover {
    background-color: antiquewhite;
    color: black;
}

#two_col {
    display:flex
}

h1, h2, h3, footer {
    text-align: center;
}